<div class="block-content">
    <div class="ng-star-inserted">
        <div class="surface-section px-4 py-6 md:px-6 lg:px-8 text-center">
            <p-divider></p-divider>
            <img class="mb-3" src="logo.png" alt="Image" height="50">
            <div class="flex align-items-center justify-content-center mb-5">
                <a class="cursor-pointer border-circle bg-bluegray-100 text-bluegray-500 block inline-flex justify-content-center align-items-center mr-5" 
                   style="width: 2.5rem; height: 2.5rem;" href="https://t.me/ExchangeInfinityOfficial" target="_blank">
                    <img src="footer/Telegram.svg" style="width: 2.5rem; height: 2.5rem;">
                </a>
                <a class="cursor-pointer border-circle bg-bluegray-100 text-bluegray-500 block inline-flex justify-content-center align-items-center mr-5" 
                   style="width: 2.5rem; height: 2.5rem;" href="https://discord.com/invite/vHdpPTzk3m" target="_blank">
                    <img src="img/discord.svg" style="width: 2.5rem; height: 2.5rem;" >
                </a>
                <a class="cursor-pointer border-circle bg-bluegray-100 text-bluegray-500 block inline-flex justify-content-center align-items-center" 
                   style="width: 2.5rem; height: 2.5rem;" href="mailto:exchange.infinity.com@gmail.com" target="_blank">
                    <img src="footer/Email.svg" style="width: 2.5rem; height: 2.5rem;"  >
                </a>
            </div>
            <div class="font-medium text-900 mt-4 mb-3">© 2024 INFINITY Platform</div>
        </div>
    </div>
</div>

