
    <div class="card">
        <p-menubar [model]="items" >
            <ng-template pTemplate="start">
                <span><a class="" [routerLink]="['/']"> 
                    <img src="logo.png" width="150" style="border-radius: 25px; margin-top: 5px;">
                
                </a></span>
            </ng-template>
            <ng-template pTemplate="item" let-item let-root="root">
                <a pRipple class="flex align-items-center p-menuitem-link" [routerLink]="[item.routerLink]">
                    <span [class]="item.icon"></span>
                    <span class="ml-2">{{ item.label }}</span>
                    <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
                    <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
                    <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
                </a>
            </ng-template>
            <ng-template pTemplate="end">
                <div class="flex align-items-center gap-2">
                    <!-- <button (click)="switchTheme('vela-blue')">Vela Blue</button>
                    <button (click)="switchTheme('saga-blue')">Saga Blue</button> -->
                    <!-- <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" /> -->
                    <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" /> -->
                </div>
                <app-day-night></app-day-night>
            </ng-template>
        </p-menubar>
    </div>








