
<div class="card" style="padding: 6%;">
    <div class="surface-card border-round-3xl px-4 md:px-6 lg:px-8">
        <div class="text-700 text-center mb-6">
            <span class=""> 
                <img src="logo.png" width="350" style="border-radius: 25px; margin-top: 5px;">
            </span>
            <div class="text-900 font-bold text-5xl mb-3">Manage wiser and faster your clients.</div>
            <span style="gap: 10px;">
                <button pButton pRipple 
                        label="Manage Now" 
                        icon="pi pi-arrow-right" 
                        iconPos="right" 
                        class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap m-2 mb-5"
                        [routerLink]="['/app-pools-page']">
                </button>
            </span>
            
        </div>

    </div>
    <p-divider></p-divider>
   


</div>


