<div class="card" style="padding: 6%;">

    <p-card header="Mining Dashboard" class="text-center" icon="pi pi-hammer" [style]="{ 'border-radius': '30px' }">
        <p-divider></p-divider>
        <span class="flex flex-wrap gap-2">
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-hammer" />
                <input type="text" pInputText placeholder="Worker Address" [(ngModel)]="workerAddress" style="width: 310px;" />
            </p-iconField>    
            <p-dropdown
                [options]="selectedPool" 
                [(ngModel)]="poolInput"
                optionLabel="coin" 
                [showClear]="true"
                placeholder="Select a Pool"
                >
                <ng-template pTemplate="selectedItem" let-pool>
                    <div class="flex align-items-center gap-2">
                    <img 
                        src="{{pool.coin | lowercase}}.png"
                        [class]="'mr-2'"
                        style="width: 20px" />
                    <div class="mr-2">
                        <span class="font-bold">{{ pool.coin }}</span>
                        <span class="font-light text-sm ml-2">{{pool.algo}}</span>
                    </div>
                    </div>
                </ng-template>
                <ng-template let-pool pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <img 
                            src="{{pool.coin | lowercase}}.png"
                            
                            style="width: 18px" />
                        <div class="mr-2">
                            <span class="font-bold">{{ pool.coin }}</span>
                            <span class="font-light text-sm ml-2">{{pool.algo}}</span>
                        </div>
                    </div>
                </ng-template>

            </p-dropdown>     
            <p-button  (click)="search()" label="Search" icon="pi pi-search" [rounded]="true" iconPos="right" />
    </span>

    <div class="grid" *ngIf="searchResult">
        <div class="col-12 lg:col-4 p-3">
            <div class="shadow-2 surface-card p-3" style="border-radius: 12px;">
                <div class="flex align-items-center justify-content-between">
                    <div>
                        <span class="text-3xl text-900 font-bold">{{ searchResult.pendingShares | number  }}</span>
                        <p class="mt-1 mb-0 text-600 text-xl">Pending Shares</p>
                    </div>
                    <div><img src="https://blocks.primeng.org/assets/images/blocks/illustration/stats-illustration-4.svg"></div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4 p-3">
            <div class="shadow-2 surface-card p-3" style="border-radius: 12px;">
                <div class="flex align-items-center justify-content-between"><div>
                    <span class="text-3xl text-900 font-bold">{{ searchResult.pendingBalance }}</span>
                    <p class="mt-1 mb-0 text-600 text-xl">Pending Balance</p>
                </div>
                <div><img src="https://blocks.primeng.org/assets/images/blocks/illustration/stats-illustration-4.svg"></div>
                </div>
             </div>
        </div>
        <div class="col-12 lg:col-4 p-3">
            <div class="shadow-2 surface-card p-3" style="border-radius: 12px;">
                <div class="flex align-items-center justify-content-between"><div>
                    <span class="text-3xl text-900 font-bold">{{ searchResult.totalPaid | number }}</span>
                    <p class="mt-1 mb-0 text-600 text-xl">Total Paid</p>
                </div>
                <div><img src="https://blocks.primeng.org/assets/images/blocks/illustration/stats-illustration-4.svg"></div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4 p-3">
            <div class="shadow-2 surface-card p-3" style="border-radius: 12px;">
                <div class="flex align-items-center justify-content-between"><div>
                    <span class="text-3xl text-900 font-bold">{{ searchResult.minerEffort | percent }}</span>
                    <p class="mt-1 mb-0 text-600 text-xl">Miner Effort</p>
                </div>
                <div><img src="https://blocks.primeng.org/assets/images/blocks/illustration/stats-illustration-4.svg"></div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4 p-3">
            <div class="shadow-2 surface-card p-3" style="border-radius: 12px;">
                <div class="flex align-items-center justify-content-between"><div>
                    <span class="text-3xl text-900 font-bold">{{ searchResult.lastPayment | date:"MMM dd, yyyy HH:mm " }}</span>
                    <a class="mt-1 mb-0 text-600 text-xl" [href]="searchResult.lastPaymentLink" target="_blank">Last Payment</a>
                </div>
                <div><img src="https://blocks.primeng.org/assets/images/blocks/illustration/stats-illustration-4.svg"></div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4 p-3">
            <div class="shadow-2 surface-card p-3" style="border-radius: 12px;">
                <div class="flex align-items-center justify-content-between"><div>
                    <span class="text-3xl text-900 font-bold">{{ searchResult.todayPaid | number }}</span>
                    <p class="mt-1 mb-0 text-600 text-xl">Today Paid</p>
                </div>
                <div><img src="https://blocks.primeng.org/assets/images/blocks/illustration/stats-illustration-4.svg"></div>
                </div>
            </div>
        </div>
    </div>

 
</p-card>
</div>