

<div class="card" style="padding: 6%;">
    <p-card class="text-center" styleClass="border-round-top-3xl">
        <h1 class="text center mt-0 text-primary flex justify-content-center align-items-center">
            <span class="" class="mr-3"> 
                <img class="text-primary" src="pool-mining.svg" width="50">
            </span>
            <span>Clients Table Info</span>
        </h1>
        <p-divider></p-divider>
            <div class="flex flex-wrap align-items-center justify-content-center gap-5 mb-5">
                <div class="p-1 flex align-items-center bg-green-100" style="border-radius: 50px;">
                    <div class="bg-green-500 inline-flex align-items-center justify-content-center mr-3 h-2rem w-2rem border-circle">
                        <i class="pi pi-wallet text-white text-1xl"></i>
                    </div>
                    <span class="text-green-900 text-lg font-medium mr-3">All functions you need in one place</span>
                </div>
            </div>
        <p-divider></p-divider>
    </p-card>
    <app-pools-table></app-pools-table>
</div>