

<div class="card" style="padding: 6%;">

    <p-card class="text-center" styleClass="border-round-top-3xl		">
        <h1 class="text center mt-0 text-primary flex justify-content-center align-items-center">
            <span class="" class="mr-3"> 
                <img class="text-primary" src="pool-mining.svg" width="50">
            </span>
            <span>Pools Mining Stat</span>
        </h1>
        <p-divider></p-divider>

        <!-- <h4 class="text-color-secondary	 font-bold text-center mb-3">No Registretion No login - Instant Starting Mining</h4> -->
            <div class="flex flex-wrap align-items-center justify-content-center gap-5 mb-5">
                <div class="p-1 flex align-items-center bg-blue-100" style="border-radius: 50px;">
                    <div class="bg-blue-500 inline-flex align-items-center justify-content-center mr-3 h-2rem w-2rem border-circle">
                        <i class="pi pi-lock-open text-white text-1xl"></i>
                    </div>
                    <span class="text-blue-900 text-lg font-medium mr-3">No Registretion</span>
                </div>
                <div class="p-1 flex align-items-center bg-cyan-100" style="border-radius: 50px;">
                    <div class="bg-cyan-500 inline-flex align-items-center justify-content-center mr-3 h-2rem w-2rem border-circle">
                        <i class="pi pi-users text-white text-1xl"></i>
                    </div>
                    <span class="text-cyan-900 text-lg font-medium mr-3">No login</span>
                </div>
                <div class="p-1 flex align-items-center bg-orange-100" style="border-radius: 50px;">
                    <div class="bg-orange-500 inline-flex align-items-center justify-content-center mr-3 h-2rem w-2rem border-circle">
                        <i class="pi pi-check-circle text-white text-1xl"></i>
                    </div>
                    <span class="text-orange-900 text-lg font-medium mr-3">Instant Starting Mining</span>
                </div>
                <div class="p-1 flex align-items-center bg-green-100" style="border-radius: 50px;">
                    <div class="bg-green-500 inline-flex align-items-center justify-content-center mr-3 h-2rem w-2rem border-circle">
                        <i class="pi pi-wallet text-white text-1xl"></i>
                    </div>
                    <span class="text-green-900 text-lg font-medium mr-3">PPLNS Payments</span>
                </div>
            </div>
            <app-wish-list></app-wish-list>

        <p-divider></p-divider>
    </p-card>
    <app-pools-table></app-pools-table>
    <app-block-found></app-block-found>
</div>