

<div class="card" style="padding: 6%;">
    <p-card class="text-center">
        <h2 class="text center mt-0 text-primary flex justify-content-center align-items-center">
            <span class="" class="mr-3"> 
                <img class="text-primary" src="pool-mining.svg" width="50">
            </span>
            <span>Pools Mining Stat</span>
        </h2>
        <h4 class="text-color-secondary	 font-bold text-center mb-3">No Registretion No login - Instant Starting Mining</h4>
        <p-divider></p-divider>
    </p-card>
    <app-pools-table></app-pools-table>
    <app-block-found></app-block-found>
</div>