
<div class="card" style="padding: 6%;">
    <div class="surface-section px-4  md:px-6 lg:px-8">
        <div class="text-700 text-center">
            <span class=""> 
                <img src="logo.png" width="350" style="border-radius: 25px; margin-top: 5px;">
            </span>
            <!-- <div class="text-blue-600 font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;POWERED BY DISCORD</div> -->
            <div class="text-900 font-bold text-5xl mb-3">Trade & Mining Pools Cryptocurrency</div>
            <!-- <div class="text-700 text-2xl mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam eligendi quos.</div> -->
            <span style="gap: 10px;">
                <button pButton pRipple label="Trade Exchange - Comimg Soon" severity="secondary" icon="pi pi-discord" iconPos="right" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap m-2"></button>
                <button pButton pRipple 
                        label="Pools Mining - Join Now" 
                        icon="pi pi-arrow-right" 
                        iconPos="right" 
                        class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap m-2"
                        [routerLink]="['/app-pools-page']">
                </button>
            </span>
            
        </div>

    </div>
 
    <app-road-map></app-road-map>


</div>


