
<div style="margin-top:50px">
<p-card>

        <h2 class="text center mt-0 text-primary flex justify-content-center align-items-center">
            <!-- <span class="" class="mr-3"> 
                <img class="text-primary" src="pool-mining.svg" width="50">
            </span> -->
            <i class="pi pi-wave-pulse mr-3" style="font-size: 2rem"></i>

            <span>Road Map</span>
        </h2>


    <p-divider></p-divider>
    <!-- <p-timeline [value]="events">
        <ng-template pTemplate="content" let-event>
            <small class="p-text-secondary">{{ event.date }}</small>
        </ng-template>
        <ng-template pTemplate="opposite" let-event>
            {{ event.status }}
        </ng-template>
    </p-timeline> -->

    <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-event>
            <span 
                class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 shadow-1" 
                [style]="{ 'background-color': event.color }">
                    <i [class]="event.icon"></i>
            </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
            <p-card [header]="event.status" [subheader]="event.date">
                <img 
                    *ngIf="event.image" 
                    [src]="event.image"
                    [alt]="event.name"
                    width="100" 
                    class="incard"
                    style="box-shadow:0px !important" />
                <p>
                    {{event.info}}
                </p>
                <!-- <p-button label="Read more" [text]="true" /> -->
            </p-card>
        </ng-template>
    </p-timeline>
</p-card>
</div>